<div id="contribute">
    <div class="bg-blue-100 px-4 py-4">
      <div class="container mx-auto">
        <div class="flex flex-col items-center space-y-1">
          <h1 class="text-xl font-medium">Contributions</h1>
          <div style="height: 2px" class="w-20 bg-blue-300 rounded-lg" />
        </div>
        <p class="max-w-3xl mx-auto text-gray-600 text-lg text-center py-5">
          Updev Community est un projet open source qui évolue grâce aux
          différents contributeurs. Merci à tous ceux qui participent au
          développement de cette communauté.
        </p>
        <div class="flex items-center justify-center">
                @foreach(var contirbutor in _contributors)
                {
                  <ContributorCard Contributor=@contirbutor/>
                }
        </div>
      </div>
      <div
        class="container mx-auto py-5 px-4 md:flex items-center lg:space-x-3">
        <div>
          <h2 class="text-md font-medium">Voulez-vous contribuer ?</h2>
          <p
            class="
              max-w-3xl
              md:max-w-md
              lg:max-w-3xl
              text-gray-600 text-md
              py-1
            "
          >
            Si vous remarquez une fonctionnalité qui manque, une erreur, ou une
            idée à ajouter, n'hésitez pas d'améliorer cet espace communautaire.
          </p>
        </div>

        <a
          href="//uptodatedevelopers.com/contact"
          target="_blank"
          class="
            block
            font-semibold
            text-gray-50
            bg-blue-500
            px-10
            py-3
            rounded-md
            shadow
          "
        >
          Contactez-nous
        </a>
      </div>
    </div>
  </div>
@code 
{
    List<Contributor> _contributors = new()
        {
            new Contributor("Uptodate Develoeprs","@developersup", "author","UD"),
            new Contributor("Jack Mutobu","@mutobujack","developer","JM"),
            new Contributor("Yannick Nsenga","@yannick243","developer","YS")
        };
}
