<div class=" bg-gray-50 flex space-x-2 items-center px-4 py-1 w-96 ">
    <div class="h-20 w-20 rounded-full bg-gray-600 text-gray-50 flex items-center justify-center">
        <p>@Contributor.AvatarName</p>
    </div>
    <div>
        <h2 class=" text-gray-900">@Contributor.Names</h2>
        <h3 class=" text-gray-400">@Contributor.GitUsername</h3>
        <p class=" text-gray-500">@Contributor.Roles</p>
    </div>
</div>
@code
{
    [Parameter]
    public Contributor Contributor { get; set; } = null!;
}