 <div id="home" class="md:container mx-auto space-y-8 px-4 pt-14 lg:pt-24 md:grid grid-cols-2 gap-4">
        <img class="h-60 md:h-80 mx-auto" src="/icons/community.svg" alt="Communauté"/>
        <div class="flex flex-col justify-center" >
            <h2 class="text-2xl font-medium text-gray-900">Trouvez la <span class=" text-blue-500">réponse</span> à vos questions</h2>
            <p  class="mt-2 text-gray-600">
                Posez vos question sur le forum UpdevCommunity et recevez des réponses adéquate, soit partagez votre expérience en repondant aux questions.
            </p>
        <button
          class="block mt-5 self-start font-semibold text-center text-gray-50 bg-blue-500 px-10 py-3 rounded-md shadow">
          Poster une question
        </button>
        </div>
    </div>