<div class="transform @(IsOpen ? "translate-x-0" : "translate-x-full") bg-gray-50 flex flex-col shadow h-full w-1/2 py-2 fixed top-18 right-0  overflow-auto ease-in-out transition-all duration-300 z-30 md:hidden">
    @foreach(var item in Menus)
    {
       <UpdevCommunity.Features.LandingPage.NavLink Class="px-4 py-2"  Title=@item.title Link=@item.link />
    }
    <div class="flex flex-col space-y-4 px-4 mt-3">
        <a>Se connecter</a>
        <a>Créer un compte</a>
    </div>
</div>
@code
{
    [Parameter]
    public bool IsOpen { get; set; } = false;
    [Parameter]
    public List<(string title, string link)> Menus { get; set; } = new();
}