<div class="bg-gray-800 text-red-50 z-50 relative">
    <div class="px-4 py-5 space-y-5 md:container xl:px-12 mx-auto">
      <div class="space-y-5 md:grid grid-cols-2">
        <div class="flex space-x-2">
          <img src="logo.svg" alt="UpdevCommunity min-logo" />
          <div class="space-y-2 flex flex-col justify-center">
            <h2 class="text-lg text-gray-50">Updev Community</h2>
            <p class="text-gray-300">
              Updev Community est un forum d'échange et de partage des
              connaissances entre informaticiens, aussi bien débutants
              qu'experts dans le but d'améliorer les compétences des
              développeurs
            </p>
            <a class="home-link" href="/"> Revenir à l'accueil </a>
          </div>
        </div>
        <div class="space-y-5 flex flex-col justify-center">
          <h2 class="text-lg text-gray-50">Retrouvez-nous sur</h2>
          <div class="flex space-x-4">
            <a href="https://web.facebook.com/DevelopersUp" target="_blank">
              <img
                class="h-12"
                src="icons/facebook_50px.png"
                alt="UpdevCommunity Facebook Page"
              />
            </a>
            <a href="https://twitter.com/DevelopersUp" target="_blank">
              <img
                class="h-12"
                src="icons/twitter_50px.png"
                alt="UpdevCommunity twitter Page"
              />
            </a>
            <a href="https://github.com/UPTODATE-DEV" target="_blank">
              <img
                class="h-12"
                src="icons/github_50px.png"
                alt="UpdevCommunity github Page"
              />
            </a>
            <a
              href="https://www.linkedin.com/company/uptodate-developers"
              target="_blank"
            >
              <img
                class="h-12"
                src="icons/linkedin_50px.png"
                alt="UpdevCommunity linkedin Page"
              />
            </a>
            <a href="https://t.me/updevcommunitygroup" target="_blank">
              <img
                class="h-12"
                src="icons/telegram_50px.png"
                alt="UpdevCommunity telegram group"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="pt-4">
        <div style="height: 0.2px" class="bg-red-100" />
        <div class="flex flex-col items-center pt-2">
          <p class="text-sm">
            Copyright &copy; @DateTime.Now.Year
            <a target="_blank" href="https://uptodatedevelopers.com/"
              >Uptodate Developers.</a>
          </p>
          <p class="text-sm">Tous droits reservés</p>
        </div>
      </div>
    </div>
  </div>

